<script setup lang="ts">
import {
  mdiFacebook,
  mdiCashMultiple,
  mdiAlphaLCircleOutline,
  mdiPhone,
} from "@mdi/js";
</script>
<template>
  <v-container>
    <br />
    <v-row>
      <br />
      <v-col cols="5">
        <br /><br />
        <v-img
          src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=64160146"
          max-width="500"
          max-height="300"
        >
        </v-img>
      </v-col>
      <v-col>
        <v-table theme="white">
          <thead>
            <tr>
              <th>ข้อมูลด้านการศึกษา</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>รหัสประจำตัว:</td>
              <td>64160146</td>
            </tr>
            <tr>
              <td>ชื่อ:</td>
              <td>นางสาวศรัณยา มัติโก</td>
            </tr>
            <tr>
              <td>ชื่ออังกฤษ:</td>
              <td>MISS SARANYA MATTIKO</td>
            </tr>
            <tr>
              <td>คณะ:</td>
              <td>วิยาการสารสนเทศ</td>
            </tr>
            <tr>
              <td>ระดับการศึกษา:</td>
              <td>ปริญญาตรี</td>
            </tr>
            <tr>
              <td>จบศึกษาจาก:</td>
              <td>หัวถนนวิทยา</td>
            </tr>
            <tr>
              <td>กำลังศึกษาอยู่:</td>
              <td>มหาวิทยาลัยบูรพา</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="5">
        <div>
          <p>
            <v-icon :icon="mdiCashMultiple" />
            สิ่งที่เราสนใจ:
            เงินคงเป็นเพราะไม่ว่าจะทำอะไรเงินคงเป็นปัจจัยหลักที่ทุกคนยังต้องการอยู่ดีไม่ว่าจะเรียน
            หรือทำงาน ทุกคนยังคงต้องการมัน
          </p>
        </div>
      </v-col>
      <v-col>
        <p><v-icon :icon="mdiFacebook" />Saranya Mattiko</p></v-col
      >
      <v-col>
        <p><v-icon :icon="mdiAlphaLCircleOutline" />pp_punch3782</p></v-col
      >
      <v-col>
        <p><v-icon :icon="mdiPhone" />061-726-7493</p></v-col
      >
    </v-row>
  </v-container>
</template>
